@media screen and (max-width: 480px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 85%;

    h2 {
      font-size: 18px;
      letter-spacing: 4px;
      font-weight: 400;
    }

    p {
      font-weight: 300;
      font-size: 14px;
    }
  }

  .contact-header {
    margin-top: 50px;

    h1 {
      color: #FCFCFC;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      background: #bc8f8f;
      padding: 5px 10px 5px 20px;
      width: fit-content;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  }

  .socials-horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: unset;
    width: 85%;
    justify-content: space-evenly;
    margin: 35px 0;

    .social-icon {
      margin-top: 0px;
    }

  }

  .contact-exicting {
    background: #ffffffc2;
    padding: 48px 24px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contact-new {
    background: #ffffffc2;
    padding: 48px 24px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  .vol-tag {
    height: 0px;

    p {
    color: white;
    width: fit-content;
    background: black;
    font-weight: 400;
    padding: 5px 35px;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    top: -40px;
    left: -54px;
    rotate: -45deg;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@media screen and (min-width:481px) and (max-width: 992px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 75%;

    h2 {
      font-size: 18px;
      letter-spacing: 4px;
      font-weight: 400;
    }

    p {
      font-weight: 300;
      font-size: 16px;
    }


  }

  .contact-header {
    margin-top: 100px;

    h1 {
      color: #FCFCFC;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      background: #bc8f8f;
      padding: 15px 20px 15px 30px;
      width: fit-content;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  }

  .socials-horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: unset;
    width: 85%;
    justify-content: space-evenly;
    margin: 50px 0 30px 0;

    .social-icon {
      margin-top: 0px;
    }

  }

  .contact-exicting {
    background: #ffffffc2;
    padding: 48px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contact-new {
    background: #ffffffc2;
    padding: 48px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  .vol-tag {
    height: 0px;

    p {
      color: white;
      width: fit-content;
      background: black;
      font-weight: 400;
      padding: 10px 45px;
      letter-spacing: 4px;
      text-transform: uppercase;
      position: relative;
      top: -35px;
      left: -85px;
      rotate: -45deg;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

@media screen and (min-width:993px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 50px;

    h2 {
      font-size: 18px;
      letter-spacing: 4px;
      font-weight: 400;
    }

    p {
      font-weight: 300;
      font-size: 16px;
    }


  }

  .contact-header {
    margin-top: 150px;

    h1 {
      color: #FCFCFC;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      background: #bc8f8f;
      padding: 10px 40px 10px 50px;
      width: fit-content;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  }

  .socials-horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: unset;
    width: 85%;
    justify-content: space-evenly;
    margin: 50px 0 30px 0;

    .social-icon {
      margin-top: 0px;
    }

  }

  .contact-exicting {
    background: #ffffffc2;
    padding: 48px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contact-new {
    background: #ffffffc2;
    padding: 48px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



  .vol-tag {
    height: 0px;

    p {
      color: white;
      width: fit-content;
      background: black;
      font-weight: 400;
      padding: 10px 55px;
      letter-spacing: 4px;
      text-transform: uppercase;
      position: relative;
      top: -34px;
      left: -100px;
      rotate: -45deg;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
