// Specific CSS for your home-page
.logo {
  h1 {
    font-size: 220px;
    font-family: 'Work Sans', sans-serif;
  }
  h2 {
    font-size: 21px;
    letter-spacing: 4px;
    position: relative;
    left: 387px;
    top: 101px;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
  }
  h3 {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 3px;
    position: absolute;
    bottom: 28px;
    left: 13px;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 25px;
  left: 50px;
  z-index: 120;
  color: #FCFCFC;
}

.socials {
  display: flex;
  position: relative;
  top: 515px;
  color: #FCFCFC ;

  h1:hover {
    text-decoration: none;
  }
}


.socials .navbar-title h1 {
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  color: #FCFCFC;
  letter-spacing: 0.25rem;
  margin-left: 16px;
  border: solid;
  padding: 9px 77px 9px 25px;
  border-radius: 8px 0px 0px 8px;
  position: relative;
  left: 0px;
  bottom: 9px;
}

.socials .navbar-expand-lg .navbar-nav {
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin: 0px 50px 0 0;
}

.fa-instagram:before {
  content: "\f16d";
  font-size: 24px;
  color: #FCFCFC;
  border: solid;
  border-radius: 8px;
  padding: 7px;
  margin-right: 16px;
}

.fa-facebook:before {
  content: "\f09a";
  font-size: 24px;
  color: #FCFCFC;
  border: solid;
  border-radius: 8px;
  padding: 7px;
}
