@media screen and (max-width: 480px) {

  .logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 16px;
    z-index: 120;
    color: #FCFCFC;

    h1 {
      font-size: 120px;
      font-weight: 200;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }

    h2 {
      font-size: 16px;
      letter-spacing: 2px;
      position: relative;
      width: fit-content;
      left: 197px;
      top: 55px;
      text-transform: uppercase;
      font-weight: 200;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }

    h3 {
      font-size: 14px;
      font-weight: 200;
      letter-spacing: 2px;
      position: absolute;
      bottom: 7px;
      left: 5px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 250px;
    margin-right: 16px;
    right: 0px;
  }

  .socials :nth-child(4) {
    display: none;
  }


  .social-icon {
    margin: 20px 0px;

  }

  .fa-instagram:before {
    content: "\f16d";
    font-size: 25px;
    color: #FCFCFC;
    border: solid;
    border-radius: 30px;
    padding: 10px 11px;
  }

  .fa-facebook:before {
    content: "\f09a";
    font-size: 28px;
    color: #FCFCFC;
    border: solid;
    border-radius: 25px;
    padding: 9px;
  }

  .fa-whatsapp:before {
    font-size: 28px;
    color: #FCFCFC;
    border: solid;
    border-radius: 25px;
    padding: 9px;
  }

}

@media screen and (min-width:481px) and (max-width: 992px) {

  .logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 16px;
    left: 35px;
    z-index: 120;
    color: #FCFCFC;

    h1 {
      font-size: 175px;
      font-weight: 200;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }

    h2 {
      font-size: 26px;
      letter-spacing: 2px;
      position: relative;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      left: 284px;
      top: 82px;
      text-transform: uppercase;
      font-weight: 200;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }

    h3 {
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 2px;
      position: absolute;
      bottom: 12px;
      left: 10px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;

    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 360px;
    margin-right: 20px;
    right: 0px;
  }

  .socials :nth-child(4) {
    display: none;
  }


  .social-icon {
    margin: 20px 0px;

  }

  .fa-instagram:before {
    content: "\f16d";
    font-size: 25px;
    color: #FCFCFC;
    border: solid;
    border-radius: 30px;
    padding: 10px 11px;
  }

  .fa-facebook:before {
    content: "\f09a";
    font-size: 28px;
    color: #FCFCFC;
    border: solid;
    border-radius: 25px;
    padding: 9px;
  }

  .fa-whatsapp:before {
    font-size: 28px;
    color: #FCFCFC;
    border: solid;
    border-radius: 25px;
    padding: 9px;
  }

}

@media screen and (min-width:993px){

  .logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 16px;
    left: 28px;
    z-index: 120;
    color: #FCFCFC;

    h1 {
      font-size: 200px;
      font-weight: 200;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }

    h2 {
      font-size: 22px;
      letter-spacing: 2px;
      position: relative;
      width: fit-content;
      left: 354px;
      top: 94px;
      text-transform: uppercase;
      font-weight: 200;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }

    h3 {
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 2px;
      position: absolute;
      bottom: 20px;
      left: 13px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      color: #FCFCFC;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 45px;
    margin-right: 16px;
  }

  .socials :nth-child(4) {
    display: none;
  }


  .social-icon {
    margin: 20px 0px;

  }

  .fa-instagram:before {
    content: "\f16d";
    font-size: 25px;
    color: #FCFCFC;
    border: solid;
    border-radius: 30px;
    padding: 10px 11px;
    transition: 0.5s;

  }

  .fa-instagram:hover:before {
    color: black;
    background-color: #fffffff7;
    border: solid #fffffff7;
    transition: 0.5s;
    padding: 14px 15px;
    font-size: 27px;
  }


  .fa-facebook:before {
    content: "\f09a";
    font-size: 28px;
    color: #FCFCFC;
    border: solid;
    border-radius: 30px;
    padding: 9px 8px;
    transition: 0.5s;

  }

  .fa-facebook:hover:before {
    color: black;
    background-color: #fffffff7;
    border: solid #fffffff7;
    transition: 0.5s;
    padding: 13px 12px;
    font-size: 30px;
  }

  .fa-whatsapp:before {
    font-size: 28px;
    color: #FCFCFC;
    border: solid;
    border-radius: 30px;
    padding: 9px 10px;
    transition: 0.5s;
  }

  .fa-whatsapp:hover:before {
    color: black;
    background-color: #fffffff7;
    border: solid #fffffff7;
    transition: 0.5s;
    padding: 13px 14px;
    font-size: 30px;
  }

}
