@media screen and (min-width: 780px) {

  .pricelist-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
  }


  .pricelist-header {
    margin-bottom: 60px;

    h1 {
      display: flex;
      margin-left: 85px;
      width: 100%;
      font-family: 'Work Sans', sans-serif;
    }
  }

  hr {
    display: none;
  }

  .pricelist {
      width: 325px;


      td {
        width: 175px;
        padding-bottom: 10px;
        white-space: nowrap;
        font-family: 'Work Sans', sans-serif;
      }

      th {
        padding: 20px 0 15px 0;
        width: 100%;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
      }
  }

  .pricelist th:nth-child(2) {
    font-weight: normal;
    font-style: italic;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

  .pricelist-tekst {
    margin-top: 305px ;

    p {
      max-width: 350px;
      font-size: 13px;
      font-family: 'Work Sans', sans-serif;
    }
  }

  .numbers {
    text-align: right;
  }

  .back {
    display: none;
  }

  .table thead {
    border-style: none;
  }

}


@media screen and (max-width: 779px) {

  .pricelist-container {
    max-width: 400px;
  }

  .pricelist {
    display: flex;
    flex-direction: column;
  }

  .pricelist-tekst {
    margin-top: 50px;
  }

  .pricelist-tekst p {
    font-size: 12px;
  }

  td.numbers {
    justify-content: end;
    display: flex;
    flex-direction: row;

  }

  th:nth-child(2) {
    text-align: end;
  }

  .table tr {
    border: none;
  }

  .back-container {
    position: absolute;
    top: 50px;
    left: -2px;
    z-index: 300;
    background: #0000004d;
    padding: 10px 15px 10px 15px;
    border-radius: 0 10px 10px 0px;
  }

  .back-container a {
    text-decoration: none;
    color: black;
    font-style: normal;
  }

}
