@media screen and (max-width: 480px) {

  .pricelist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 85%;

  }

  .price-header {

    margin-top: 50px;

  h1 {
      color: #FCFCFC;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      background: #bc8f8f;
      padding: 8px 10px 8px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .pricelist {
    background: #ffffffc2;
    padding: 24px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }


  .pricelist th:nth-child(2) {
    font-weight: normal;
    font-style: italic;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

  td {
    width: 140px;
  }

  td.numbers {
    display: flex;
    justify-content: flex-end;
  }

  th:nth-child(2) {
    text-align: end;
  }

  .pricelist-text {
    max-width: fit-content;
    margin-top: 20px;

    p {
      font-size: 12px;
      font-weight: 200;
    }

  }

}

@media screen and (min-width:481px) and (max-width: 992px) {

  .pricelist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 75%;
  }

  .price-header {

    margin-top: 100px;

  h1 {
      color: #FCFCFC;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      background: #bc8f8f;
      padding: 8px 10px 8px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
  }


  .pricelist {
    background: #ffffffc2;
    padding: 24px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }


  .pricelist th:nth-child(2) {
    font-weight: normal;
    font-style: italic;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

  td {
    width: 200px;
    font-size: 16px;
    font-weight: 200;
  }

  th {
    font-size: 20px;
    font-weight: 400;
  }

  td.numbers {
    display: flex;
    justify-content: flex-end;
  }

  th:nth-child(2) {
    text-align: end;
  }

  .pricelist-text {

    width: 395px;
    margin-top: 20px;

    p {
      font-size: 12px;
    }

  }

}

@media screen and (min-width:993px) {

  .pricelist-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 50px;
  }



  .price-header {

    margin-top: 100px;

  h1 {
      color: #FCFCFC;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 20px;
      background: #bc8f8f;
      padding: 10px 40px 10px 50px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
  }

  hr {
    display: none;
  }

  .pricelist {

    background: #dcdcdcbd;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


      td {
        width: 115px;
        padding-bottom: 5px;
        font-weight: 200;
        font-size: 16px;
        white-space: nowrap;
        font-family: 'Work Sans', sans-serif;
      }

      th {
        padding: 0px 0 15px 0;
        width: 100%;
        font-family: 'Work Sans', sans-serif;
        font-weight: 500;
      }
  }

  .pricelist th:nth-child(2) {
    font-weight: normal;
    font-style: italic;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

  .pricelist-text {

    p {
      max-width: 350px;
      font-family: 'Work Sans', sans-serif;
      font-size: 12px;
      font-weight: 300;
      margin-top: 10px;
    }
  }

  .numbers {
    text-align: right;
  }

  .back {
    display: none;
  }

  .table thead {
    border-style: none;
  }
}
