
    <div class="contact-header">
    <h1>Afspraak</h1>
    </div>

  <div class="contact-container">
      <div class="contact-exicting">
      <h2>Bestaande klant</h2>
        <p>Voor het maken van een afspraak of een vraag over een afspraak, kan je contact opnemen via Whatsapp of Social Media.
        </p>
      </div>
    <div class="socials-horizon">
      <div class="social-icon">
        <%= link_to "https://wa.me/message/TVJPPMDWWO3NO1", target: '_blank' do %>
          <i class="fa-brands fa-whatsapp"></i>
        <% end %>
      </div>
      <div class="social-icon">
        <%= link_to "https://www.instagram.com/hairbysuuz/", target: '_blank' do %>
          <i class="fa-brands fa-instagram"></i>
        <% end %>
      </div>
      <div class="social-icon">
        <%= link_to "https://www.facebook.com/HairbySuuz", target: '_blank' do %>
          <i class="fa-brands fa-facebook"></i>
        <% end %>
      </div>
    </div>
    <div class="contact-new">
      <div class="vol-tag">
        <p>vol</p>
      </div>
      <h2>Nieuwe klant</h2>
        <p>Helaas moet ik melden dat ik op dit moment geen nieuwe klanten aanneem. Wel kan je je contact gegevens doorgeven zodat ik je op mijn wachtlijst kan zetten. Dit geeft echter geen garantie dat je op korte termijn een afspraak kan maken.
        </p>
    </div>
  </div>
