
    <div class="contact-header">
    <h1>Afspraak</h1>
    </div>

  <div class="contact-container">
      <div class="contact-exicting">
      <h2>Bestaande klant</h2>
        <p>Neem dan contact op via Whatsapp of via een van mijn social medias om een afspraak te maken.
        </p>
      </div>
    <div class="socials-horizon">
      <div class="social-icon">
        <%= link_to "#", target: '_blank' do %>
          <i class="fa-brands fa-whatsapp"></i>
        <% end %>
      </div>
      <div class="social-icon">
        <%= link_to "https://www.instagram.com/hairbysuuz/", target: '_blank' do %>
          <i class="fa-brands fa-instagram"></i>
        <% end %>
      </div>
      <div class="social-icon">
        <%= link_to "https://www.facebook.com/HairbySuuz", target: '_blank' do %>
          <i class="fa-brands fa-facebook"></i>
        <% end %>
      </div>
    </div>
    <div class="contact-new">
      <div class="vol-tag">
        <p>vol</p>
      </div>
      <h2>Nieuw</h2>
        <p>Dan moet ik helaas vermelden dat ik momenteel geen nieuwe klanten aanneem. Je kan mij uiteraard altijd een berichtje sturen om intresse te tonen en ik contact met je kan opnemen wanneer er een plekje vrij komt.
        </p>
    </div>
  </div>
