<div class="contact-container">
  <div class="contact-header">
    <h1>Een vraag, suggestie of feedback? Ik hoor het graag.</h1>
  </div>

  <div class="contact-tekst">
    <p>Stuur mij een mail: hairbysuuz@gmail.com</p>
    <p>Of stuur een WhatsApp berichtje naar +31623945141 </p>
    <p>Je kan mij natuurlijk ook contact via mijn Soical Media.</p>
    <p>Liefs Suuz</p>
  </div>

  <div class="social">
    <%= link_to "https://www.facebook.com/HairbySuuz", target: '_blank' , class: "navbar-title" do %>
      <i class="fab fa-facebook"></i>
    <% end %>
      <%= link_to "https://www.instagram.com/hairbysuuz/", target: '_blank' , class: "navbar-title" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
  </div>
</div>
