

  <div class="socials">
    <div class="social-icon">
      <%= link_to "https://wa.me/message/TVJPPMDWWO3NO1", target: '_blank' do %>
        <i class="fa-brands fa-whatsapp"></i>
      <% end %>
    </div>
    <div class="social-icon">
    <%= link_to "https://www.instagram.com/hairbysuuz/", target: '_blank' do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>
    </div>
    <div class="social-icon">
      <%= link_to "https://www.facebook.com/HairbySuuz", target: '_blank' do %>
        <i class="fa-brands fa-facebook"></i>
      <% end %>
      </div>
  </div>

  <div class="logo">
    <h2>Hair by</h2>
    <h1>Suuz</h1>
    <h3>uw topstyliste aan huis</h3>
  </div>
