
<div class="terug">
<%= link_to "<<", :back %>
</div>

<div class="prijslijst-container">
      <div class="prijslijst">
        <table class="tables">
          <thead>
            <tr>
              <th>Knippen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >20</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >21.50</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >23</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>Fohnen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >17.50</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >20</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >22.50</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Knippen & Fohnen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >23</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >25.50</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >28</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="prijslijst">
            <table class="tables">
          <thead>
            <tr>
              <th>Kleuren</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort / Uitgroei</td>
              <td class="numbers" >27.50</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >35</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >42.50</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>High/Low ligths</th>
              <th>half / heel</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >22.50 / 28</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >32.50 / 40</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >42.50 / 52</td>
            </tr>
            <tr>
              <td>Lang / Dik</td>
              <td class="numbers" >52 / 60</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>High/Low ligths & Uitgroei</th>
              <th>Half / Heel</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >32.50 / 38</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >42.50 / 50</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >52.50 / 62</td>
            </tr>
          </tbody>
        </table>
    </div>

  <div class="prijslijst">
    <table class="tables">
      <thead>
        <tr>
          <th>Kinderen t/m 12 jaar</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Knippen</td>
          <td class="numbers">15</td>
        </tr>
        <tr>
          <td>Knippen Lang haar</td>
          <td class="numbers">16.50</td>
        </tr>
        <tr>
          <td>Vlechten</td>
          <td class="numbers">3</td>
        </tr>
      </tbody>
    </table>

      <div class="prijslijst-tekst">
<p>* Prijzen bij kleuren kunnen afwijken.
Dit heeft te maken met de hoeveelheid haar
en hoeveel product dat er verbruikt wordt.</p>
</div>
  </div>
</div>
