<div class="prijslijst-container">
      <div class="prijslijst">
        <table class="tables">
          <thead>
            <tr>
              <th>Knippen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >16.50</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >17.50</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >18.50</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>Fohnen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >14</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >16</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >18</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Knippen & Fohnen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >19</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >21</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >23</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="prijslijst">
            <table class="tables">
          <thead>
            <tr>
              <th>Kleuren</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >24</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >28</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >32</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>Highlights</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >22</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >29</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >36</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Highlights & Uitgroei</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kort</td>
              <td class="numbers" >vanaf 32</td>
            </tr>
            <tr>
              <td>Half lang</td>
              <td class="numbers" >vanaf 39</td>
            </tr>
            <tr>
              <td>Lang</td>
              <td class="numbers" >vanaf 46</td>
            </tr>
          </tbody>
        </table>
    </div>

  <div class="prijslijst">
    <table class="tables">
      <thead>
        <tr>
          <th>Kinderen t/m 12 jaar</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vlechten</td>
          <td class="numbers">6</td>
        </tr>
        <tr>
          <td>Knippen</td>
          <td class="numbers">13.50</td>
        </tr>
        <tr>
          <td>Knippen & Vlechten</td>
          <td class="numbers">16.50</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="prijslijst-tekst">
<p>* Prijzen bij kleuren kunnen afwijken.
Dit heeft te maken met de hoeveelheid haar
en hoeveel product dat er verbruikt wordt.

hello</p>
</div>
