@media screen and (max-width: 480px) {

  .nav-bar-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

   .nav-bar-white a:nth-child(1) {
    display: none;
  }

  .navbar-title {
    position: relative;
    top: 36px;
    text-decoration: none;
    color: #FCFCFC;
    letter-spacing: 2px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin-top: 50px;
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-radius: 10px 0px 0px 10px;
    padding: 15px 5px;
  }

  .navbar-title p {
    padding: 15px;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCFCFC;
  }


  .nav-bar-black {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navbar-title {
      border: none;
      padding: 0px;
      top: 10px;
      background: #0a0a0a96;
      writing-mode: horizontal-tb;

    }

    p {
      color: #FCFCFC;
      font-weight: 200;
    }
  }

  .nav-bar-black a:nth-child(2) {
    display: none;
  }


}

@media screen and (min-width:481px) and (max-width: 992px) {

  .nav-bar-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

   .nav-bar-white a:nth-child(1) {
    display: none;
  }

  .navbar-title {
    position: relative;
    top: 36px;
    text-decoration: none;
    color: #FCFCFC;
    letter-spacing: 2px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin-top: 50px;
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-radius: 10px 0px 0px 10px;
    padding: 15px 5px;
  }

  .navbar-title p {
    padding: 15px;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCFCFC;
  }


  .nav-bar-black {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navbar-title {
      border: none;
      padding: 0px;
      top: 10px;
      background: #0a0a0a96;
      writing-mode: horizontal-tb;

    }

    p {
      color: #FCFCFC;
      font-weight: 200;
    }
  }

  .nav-bar-black a:nth-child(2) {
    display: none;
  }

}

@media screen and (min-width:993px) {

  .nav-bar-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

   .nav-bar-white a:nth-child(1) {
    display: none;
  }

  .navbar-title {
    position: relative;
    top: 36px;
    text-decoration: none;
    color: #fffffff7;
    letter-spacing: 2px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin-top: 50px;
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-radius: 10px 0px 0px 10px;
  }

  .navbar-title p {
    padding: 25px 20px;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCFCFC;
    transition: 0.5s;

  }

  a {
    transition: 0.5s;
  }

  .nav-bar-white a:hover {
    color: #0a0a0a96;
    background: #fffffff7;
    border: #fffffff7;
  }

  .nav-bar-white p:hover {
    color: black;
    padding: 25px 30px;
  }

  .nav-bar-black {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navbar-title {
      border: none;
      padding: 0px;
      top: 10px;
      background: #0a0a0a96;
      writing-mode: horizontal-tb;

    }

    p {
      color: #FCFCFC;
      font-weight: 200;
    }
  }

  .nav-bar-black a:nth-child(2) {
    display: none;
  }
}
