@media screen and (max-width: 480px) {

  .nav-bar-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

   .nav-bar-white a:nth-child(1) {
    display: none;
  }

  .navbar-title {
    position: relative;
    top: 36px;
    text-decoration: none;
    color: #bc8f8fd4;
    background: #bc8f8fd4;
    letter-spacing: 2px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin-top: 50px;
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 5px;
  }

  .navbar-title p {
    padding: 15px 15px;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCFCFC;
  }


  .nav-bar-black {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navbar-title {
      position: fixed;
      border: none;
      padding: 0px;
      top: -25px;
      right: 0px;
      background: #bc8f8f;
      border-radius: 7px 0px 0px 7px;
    }

    p {
      color: black;
      font-weight: 200;
      padding: 34px 12px;
      font-size: 14px;
    }
  }

  .nav-bar-black a:nth-child(2) {
    display: none;
  }

  th {
    font-weight: 600;
    font-size: 16px;
  }

  td {
    font-weight: 300;
    font-size: 14px;
  }

}

@media screen and (min-width:481px) and (max-width: 992px) {

  .nav-bar-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

   .nav-bar-white a:nth-child(1) {
    display: none;
  }

  .navbar-title {
    position: relative;
    top: 100px;
    text-decoration: none;
    color: #bc8f8fd4;
    background: #bc8f8fd4;
    letter-spacing: 2px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin-top: 50px;
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-radius: 10px 0px 0px 10px;
    padding: 15px 5px;
  }

  .navbar-title p {
    padding: 35px 20px ;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCFCFC;
  }


  .nav-bar-black {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .navbar-title {
      position: fixed;
      border: none;
      padding: 0px;
      top: 50px;
      right: 0px;
      background: #bc8f8f;
      border-radius: 7px 0px 0px 7px;
    }

    p {
      color: black;
      font-weight: 300;
      padding: 60px 24px;
      font-size: 16px;

    }
  }

  .nav-bar-black a:nth-child(2) {
    display: none;
  }

  th {
    font-size: 18px;
  }

  td {
    font-size: 16px;
  }

}

@media screen and (min-width:993px) {

  .nav-bar-white {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

   .nav-bar-white a:nth-child(1) {
    display: none;
  }

  .navbar-title {
    position: relative;
    top: 36px;
    text-decoration: none;
    color: #bc8f8fd4;
    background: #bc8f8fd4;
    letter-spacing: 2px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin-top: 75px;
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-radius: 15px 0px 0px 15px;

  }

  .navbar-title p {
    padding: 35px 22px;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FCFCFC;
    transition: 0.5s;


  }

  a {
    transition: 0.5s;
  }

  .nav-bar-white a:hover {
    color: #bc8f8fd4;
    background: #bc8f8fd4;
  }

  .nav-bar-white p:hover {
    color: white;
    padding: 35px 35px;
  }

  .nav-bar-black {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 160px;

    .navbar-title {
      position: relative;
      top: 36px;
      text-decoration: none;
      color: #bc8f8f;
      background: #bc8f8f;
      letter-spacing: 2px;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
      margin-top: 75px;
      border-bottom: solid;
      border-left: solid;
      border-top: solid;
      border-radius: 15px 0px 0px 15px;
    }

    p {
      color: #fffffff7;
      font-weight: 200;
      padding: 43px 22px;
    }
  }

  .nav-bar-black a:hover {
    color: #bc8f8f;
    background: #bc8f8f;
  }

  .nav-bar-black p:hover {
    color: white;
    padding: 43px 35px;;
  }

  .nav-bar-black a:nth-child(2) {
    display: none;
  }
}
