// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/contact";

.page-container {
  display: flex;
  flex-direction: column;
  margin: 0px 16px;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.hero-overlay-white {
  background: rgba(222, 222, 222, 0.7);
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 480px) {

  body {
    background-image: url("background2.png");
    background-position: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  p {
    margin: 0px;
  }

  .hero-overlay-white {
    background: rgba(222, 222, 222, 0.7);
    width: 100%;
  }

}

@media screen and (min-width:481px) {

  body {
    background-image: url("background2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  p {
    margin: 0px;
  }

  .hero-overlay-white {
    background: rgba(222, 222, 222, 0.7);
    width: 100%;
    height: 100%;
  }

}
