// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/contact";


@media screen and (min-width: 780px) {

  .page-container {
    max-width: 100%;
    max-height: 100%;
    margin: 145px 55px 100px 55px;
  }

  h1 {
    font-weight: 300;
  }

  body {
    background-image:url("background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    background-position: center;
    width: 100%;
    height: 100vh;

    }

    .hero-overlay {
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
  }

  .hero-overlay-white {
    background: rgba(222, 222, 222, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  #navbarNav {
    color: #FCFCFC;
  }

  #navbarNav-black h1 {
    color: #0A0A0A;
  }

  #navbarNav-black .nav-item h1:hover {
    border-bottom: 1px solid #0A0A0A ;
    padding-bottom: 2px;
    transition: 0.2s;
  }
}

@media screen and (max-width: 779px) {


  

  .page-container {
    max-width: 100%;
    max-height: 100%;
    margin: 100px 40px;
  }

  h1 {
    font-weight: 300;
  }

  body {
    background-image:url("background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    background-position: 73%;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    }

    .hero-overlay {
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
  }

  .hero-overlay-white {
    background: rgba(222, 222, 222, 0.7);
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  #navbarNav {
    color: #FCFCFC;
  }

  #navbarNav-black h1 {
    border: none;
    color: #0A0A0A;
    background: #00000061;
  }

}
