// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/contact";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media screen and (max-width: 480px) {

  body {
    background-image: url("background.jpeg");
    background-position: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
  }

  p {
    margin: 0px;
  }

}

@media screen and (min-width:481px) and (max-width: 992px) {

  body {
    background-image: url("background.jpeg");
    background-position: 86%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
  }

  p {
    margin: 0px;
  }

}

@media screen and (min-width:993px) {

  body {
    background-image: url("background.jpeg");
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
  }

  p {
    margin: 0px;
  }

}
